<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /zap-app/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /zap-app/index.html [L]
</IfModule>
