.sighting-view-controller .view-buttons button {
  padding: 10px 15px;
  margin: 5px;
  background-color: #d2b48c;
  color: #5a3e2b;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.sighting-view-controller .view-buttons button:hover {
  background-color: #c8a678;
  transform: scale(1.05);
}

.sighting-view-controller .view-buttons button.active-view {
  background-color: #a87e5a;
  color: #fff;
  transform: none;
}

.sighting-view-controller .view-buttons button:disabled {
  background-color: #e6dcc9;
  color: #7d6b5c;
  cursor: not-allowed;
}

/* Pagination Styling */
.pagination {
  display: flex;
  /* Allow wrapping of buttons on smaller screens */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  padding: 10px;
  /* Enable horizontal scrolling if necessary */
  overflow-x: auto;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  min-width: 40px;
  text-align: center;
  margin: 4px;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: 1px solid #007bff;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: #666;
}

/* For Small Screens */
@media (max-width: 768px) {
  .pagination {
    overflow-x: auto;
    padding: 10px 0;
  }

  .pagination button {
    /* Prevent buttons from shrinking */
    flex-shrink: 0;
  }
}

.pagination-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 90%;
  gap: 10px;

}

.pagination-controls label {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  /* Prevent label from breaking into multiple lines */
  white-space: nowrap;
}

.pagination-controls select {
  padding: 0.4em 0.6em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1rem;
  text-align: center;
  appearance: none;
}

.pagination-controls select:hover {
  background-color: #e6e6e6;
}